<div class="ibox float-e-margins">
    <div class="ibox-title">
        <strong>API's Name :</strong> started following <br>
        <strong>Description :</strong>
        <small class="text-muted"> Today 4:21 pm - 12.06.2014</small>
    </div>
    <div class="ibox-content" style="overflow: hidden;">
        <div class="form-group" style="padding-bottom: 15px;">
            <div class="col-sm-8">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button data-toggle="dropdown"
                                class="btn btn-white dropdown-toggle" type="button"
                                aria-expanded="false">GET <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">GET</a></li>
                            <li><a href="#">PUT</a></li>
                            <li><a href="#">POST</a></li>
                            <li><a href="#">DELETE</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <input type="text" class="form-control">
                    <div class="input-group-btn open">
                        <button class="btn btn-white dropdown-toggle" type="button">
                            Params
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary" style="width: 100%;" type="button">
                    Send
                </button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-white" style="width: 100%;" type="button"> Save
                </button>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="sidebar-container">
                <ul class="nav nav-tabs">
                    <li ng-class="{active: (apisTab==1)}">
                        <a ng-click="apisTab = 1" ng-init="apisTab = 1">
                            Authorization </a>
                    </li>
                    <li ng-class="{active: (apisTab==2)}">
                        <a ng-click="apisTab = 2"> Headers </a>
                    </li>
                    <li ng-class="{active: (apisTab==3)}">
                        <a ng-click="apisTab = 3"> Body </a>
                    </li>
                    <li ng-class="{active: (apisTab==4)}">
                        <a ng-click="apisTab = 4"> Pre-request Script </a>
                    </li>
                    <li ng-class="{active: (apisTab==5)}">
                        <a ng-click="apisTab = 5"> Tests </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" ng-if="apisTab==1"
                         ng-class="{active: (apisTab==1)}">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>Issue list</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="m-b-lg">
                                    <div class="input-group">
                                        <input type="text"
                                               placeholder="Search issue by name..."
                                               class=" form-control">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-white"> Search</button>
                                    </span>
                                    </div>
                                    <div class="m-t-md">
                                        <div class="pull-right">
                                            <button type="button"
                                                    class="btn btn-sm btn-white"><i
                                                    class="fa fa-comments"></i></button>
                                            <button type="button"
                                                    class="btn btn-sm btn-white"><i
                                                    class="fa fa-user"></i></button>
                                            <button type="button"
                                                    class="btn btn-sm btn-white"><i
                                                    class="fa fa-list"></i></button>
                                            <button type="button"
                                                    class="btn btn-sm btn-white"><i
                                                    class="fa fa-pencil"></i></button>
                                            <button type="button"
                                                    class="btn btn-sm btn-white"><i
                                                    class="fa fa-print"></i></button>
                                            <button type="button"
                                                    class="btn btn-sm btn-white"><i
                                                    class="fa fa-cogs"></i></button>
                                        </div>
                                        <strong>Found 61 issues.</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" ng-if="apisTab==2"
                         ng-class="{active: (apisTab==2)}">
                        apisTab 2
                    </div>
                    <div class="tab-pane" ng-if="apisTab==3"
                         ng-class="{active: (apisTab==3)}">
                        tab 3
                    </div>
                    <div class="tab-pane" ng-if="apisTab==4"
                         ng-class="{active: (apisTab==4)}">
                        tab 4
                    </div>
                    <div class="tab-pane" ng-if="apisTab==5"
                         ng-class="{active: (apisTab==5)}">
                        tab 5
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>