<div class="ibox float-e-margins">
    <div class="ibox-title">
        <strong>API's Name : </strong> started following <br>
        <strong>Description :</strong>
        <small class="text-muted"> Today 4:21 pm - 12.06.2014</small>
    </div>
    <div class="ibox-content" style="overflow: hidden;">
        <div class="form-group" style="padding-bottom: 15px;">
            <div class="col-sm-8">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button data-toggle="dropdown"
                                class="btn btn-white dropdown-toggle" type="button"
                                aria-expanded="false">
                            {{apiInfo.method}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="left: 0px;">
                            <li ng-click="apiInfo.method='Get'"><a href="">Get</a></li>
                            <li ng-click="apiInfo.method='Put'"><a href="">Put</a></li>
                            <li ng-click="apiInfo.method='Post'"><a href="">Post</a></li>
                            <li ng-click="apiInfo.method='Delete'"><a href="">Delete</a></li>
                        </ul>
                    </div>
                    <input type="text" class="form-control" ng-model="apiInfo.name">
                    <div class="input-group-btn open">
                        <button class="btn btn-white dropdown-toggle" ide-key="params" type="button" id="params"> <!--data-ng-click="showPopup('params');"-->
                            Params
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary" style="width: 100%;" type="button">
                    Send
                </button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-white" style="width: 100%;" type="button"> Save
                </button>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="sidebar-container">
                <ul class="nav nav-tabs">
                    <li ng-class="{active: (apisTab==1)}">
                        <a ng-click="apisTab = 1" ng-init="apisTab = 1"> Authorization </a>
                    </li>
                    <li ng-class="{active: (apisTab==2)}">
                        <a ng-click="apisTab = 2"> Headers </a>
                    </li>
                    <li ng-class="{active: (apisTab==3)}">
                        <a ng-click="apisTab = 3"> Body </a>
                    </li>
                    <li ng-class="{active: (apisTab==4)}">
                        <a ng-click="apisTab = 4"> Pre-request Script </a>
                    </li>
                    <li ng-class="{active: (apisTab==5)}">
                        <a ng-click="apisTab = 5"> Tests </a>
                    </li>
                </ul>
                <div class="tab-content col-xs-12" style="min-height: 400px;border: 1px solid #2f4050;">
                    <div class="tab-pane" ng-if="apisTab==1"
                         ng-class="{active: (apisTab==1)}">
                        {{ apiInfo.authrization }}
                    </div>
                    <div class="tab-pane" ng-if="apisTab==2"
                         ng-class="{active: (apisTab==2)}">
                        {{ apiInfo.headers }}
                    </div>
                    <div class="tab-pane" ng-if="apisTab==3"
                         ng-class="{active: (apisTab==3)}">
                        {{ apiInfo.body }}
                    </div>
                    <div class="tab-pane" ng-if="apisTab==4"
                         ng-class="{active: (apisTab==4)}">
                        {{ apiInfo.prereqscript }}
                        <div id="editor">function foo(items) {
                            var x = "All this is syntax highlighted";
                            return x;
                            }</div>
                        <script>
                            var editor = ace.edit("editor");
                            editor.setTheme("ace/theme/monokai");
                            editor.getSession().setMode("ace/mode/javascript");
                        </script>
                    </div>
                    <div class="tab-pane" ng-if="apisTab==5"
                         ng-class="{active: (apisTab==5)}">
                        {{ apiInfo.simulation }}
                        <div id="editor">function foo(items) {
                            var x = "All this is syntax highlighted";
                            return x;
                            }</div>
                        <script>
                            var editor = ace.edit("editor");
                            editor.setTheme("ace/theme/monokai");
                            editor.getSession().setMode("ace/mode/javascript");
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>