<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
            <div id='cssmenu' style="margin-left: 200px; margin-top: 10px;">
                <ul>
                    <li ng-repeat="items in menuInfo track by $index">
                        <a ng-href="{{items['routeTo']}}"><span case="{{items['case']}}" key="{{items['key']}}">{{items["text"]}}</span></a>
                        <ul ng-if="items['child'].length>0">
                            <li class='has-sub' ng-repeat="itemChilds in items['child'] track by $index">
                                <a ng-href="{{itemChilds['routeTo']}}"><span case="{{itemChilds['case']}}" key="{{itemChilds['key']}}">{{itemChilds["text"]}}</span></a>
                                <ul ng-if="itemChilds['child'].length>0">
                                    <li class='has-sub' ng-repeat="childs in itemChilds['child'] track by $index">
                                        <a ng-href="{{childs['routeTo']}}"><span case="{{childs['case']}}" key="{{childs['key']}}">{{childs["text"]}}</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown" dropdown>
                <a class="dropdown-toggle count-info" href dropdown-toggle>
                    Language
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                    <li><a ng-click="changeLanguage('en')">English</a></li>
                    <li><a ng-click="changeLanguage('es')">Spanish</a></li>
                </ul>
            </li>
            <li>
                <a ng-click="$root.rightSidebar = !$root.rightSidebar">
                    <i class="fa fa-tasks"></i>
                </a>
            </li>
        </ul>

    </nav>
</div>