<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" data-ng-click="modalOptions.close()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">View : <strong> {{modalOptions.model['name']}} </strong> </h4>
</div>
<div class="modal-body" ng-init="model = modalOptions.model">
    <form class="form-horizontal">
        <div class="form-group" style="margin-bottom: 0px;" ng-repeat="(key, val) in model.info">
            <label class="col-lg-3 control-label"><span style="text-transform: capitalize;">{{key}}</span></label>
            <div class="col-lg-9"><div class="form-control" style="background: #F6F6F6;font-weight: bold;">
                <span ng-if="'appLogo' != key && 'pic' != key">{{val}}</span>
                <img style="height: 20px;" alt="Logo" ng-if="'appLogo' == key ||'pic' == key" ng-src="{{val}}"/>
            </div> <span class="help-block m-b-none"></span></div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal" data-ng-click="modalOptions.close()">Close</button>
</div>