<div ng-init="getProjectView()">
    <page-toolkit data="models" filter="form"></page-toolkit>
    <div class="wrapper sidebar-content wrapper-content animated fadeInUp">
        <div class="ibox">
            <div class="ibox-title">
                <div class="btn-group">
                    <button type="button" class="btn btn-xs btn-white active" data-ng-click="createDropzone()">
                        Create a DropZone
                    </button>
                    <button type="button" class="btn btn-xs btn-white" data-ng-click="SavePageAs('add')">Save Page
                        as
                    </button>
                </div>
                <div class="pull-right">
                    <div ibox-tools></div>
                </div>
            </div>
            <div class="ibox-content">
                <pre>{{ models.dropzones | json }}</pre>
            </div>
        </div>
        <div id="ide-view" master-page></div>
    </div>
</div>
